#ifndef SECRETS_H
#define SECRETS_H

// --- WiFi Credentials ---
#define SECRET_SSID     "YOUR_WIFI_SSID"
#define SECRET_PASSWORD "YOUR_WIFI_PASSWORD"

// --- Server IP running the Python stats updater and serving rowing_stats.json ---
#define BACKEND_IP "192.168.1.X"

#endif
