# Get this key from the Concept2 Logbook at https://log.concept2.com
# Log in, click your profile, go to Edit Profile --> Applications
# Grant access to the logbook API and copy your token over
CONCEPT2_API_KEY=your_api_key_here

# Network configuration defaults
# You may change these to match your local Docker network config to monitor erg-stats-server over Uptime Kuma or similar
# If you delete these vars, you MUST delete networking references in docker-compose.yml otherwise it will not compile
DOCKER_NETWORK_NAME=erg-display-net
DOCKER_NETWORK_EXTERNAL=false
